python-dotenv==1.1.1pypi.org
pandas==2.3.1pypi.org
numpy==2.3.1pypi.org
yfinance==0.2.65pypi.org
requests==2.32.4pypi.org
vaderSentiment==3.3.2pypi.org
matplotlib==3.10.3pypi.org
seaborn==0.13.2pypi.org
pytest==8.4.1pypi.org
scikit-learn==1.7.0pypi.org
transformers==4.53.2pypi.org
accelerate==1.8.1pypi.org
--index-url https://download.pytorch.org/whl/cu128
torch==2.7.1download.pytorch.org
torchvision==0.22.1download.pytorch.org
torchaudio==2.7.1