python-dotenv
pandas
numpy
yfinance
requests
vaderSentiment
matplotlib
seaborn
pytest
scikit-learn
transformers
accelerate
--index-url https://download.pytorch.org/whl/cu128
torch
torchaudio
pytickertick
datasets
nltk